[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
django = "*"
pillow = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
django-service-objects = "*"
isort = "*"
django-allauth = "*"
yookassa = "*"
requests = "*"
stripe = "*"
python-dotenv = "*"
python-decouple = "*"
celery = {extras = ["redis"], version = "*"}
djangorestframework = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
